<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tinyapp</title>
  </head>
  <body>
    <% if (user) { %>
    <form action="/logout" method="POST">
      <input type="submit" value="logout">
    </form>
    <% } else { %>
      <form>
      <method= "GET" action="/login">
      <input type="submit" value="Login">
    
      <method= "GET" action="/register">
      <input type="submit" value="Register">
      </form>
     <% }; %>
  </body>
</html>
