<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tinyapp</title>
  <body>
    <% if (user) { %>
      <form action="/logout" method="POST" type="submit" value="Logout">
        <span><%= user.email %></span> <button>Logout</button><br></form>
    <% } else { %>
    </form><a href="/register">Register</a> <a href="/login">Login</a></form>
     <% }; %>
  </body>
</head>
</html>
