<!DOCTYPE html>
<html lang="en">
  <head>
    <h1><tt>tinyApp</tt></h1>
  <body>
    <% if (user) { %>
      <form action="/logout" method="POST" type="submit" value="Logout">
        <tt><%= "Welcome back to TinyApp  " %><%= user.email %></tt> <button>Logout</button><br></form>
    <% } else { %>
      <h3>
        <tt><%= "login or register to create, save and display tinyURLs!" %></tt>
      </h3>
    </form><tt><a href="/register">Register</a></tt></form>
     <% }; %>
  </body>
</head>
</html>
