<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tinyapp</title>
</head>
<%= `${username}` %>
  <body>
    <form method= "POST" action="/login">
      <input type="text" name="username" placeholder="username" style="width: 150px">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
