
<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Tiny App</title>
    <% include partials/_header.ejs %>
  </head>

  <body>
      <% if (user) { %>
    <a href="/u/<%= shortURL%>">http://u/<%= shortURL %></a>

    <form action="/urls/<%= shortURL %>" method="post">
      <p>
        <label for="longURL">long URL</label>
        <input id="longURL" name="longURL" value="<%= urlObj.longURL %>">
      </p>
    <p>
      <button>Update</button>
    </p>
    <p><a href="/urls">My URLs</a></p>
    </form>
  </div><% } else{ %><a href="/register">Register</a><a href="/login">Login</a><% } %>
  </body>
</html>
