<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
  <body>
    <% include partials/_header.ejs %>
    <h4> Index of URLs</h4>

    <% for (url in urls) { %>
    <p><%= `${url}, ${urls[url]}` %></p>
    <form method="POST" action="/urls/<%= url %>/delete">
    <button>Delete</button>
    </form>
    <% }; %>
    <a href="http://localhost:8080/urls/new">
      Add new Link</a>
  </body>
</html>
