
<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Tiny App</title>
  </head>

  <body>
    <% include partials/_header.ejs %>
    <a href="/u/<%= shortURL%>">http://u/<%= shortURL %></a>

    <form action="/urls/<%= shortURL %>" method="post">
      <p>
        <label for="longURL">long URL</label>
        <input id="longURL" name="longURL" value="<%= urlObj.longURL %>">
      </p>
    <p>
      <button>Update</button>
    </p>
    <p><a href="/urls">All my tiny URLS</a></p>
    </form>
  </body>
</html>
