<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/_header.ejs %>
  <title>TinyApp</title>
</head>
  <body>
  <h4><%= `ShortURL: ${shortURL}` %></h4>
    <form method="POST" action="/urls/<%= shortURL %>"
          <p>
            <input id="longURL" type="text" name="longURL" value= "<%= `${urls[shortURL]}` %>" placeholder="longURL" style="width: 300px">
            <input type="submit" value="Update"> 
          </p>
    </form>
    <a href="http://localhost:8080/urls/">
      Index</a>  
  </body>
</html>
